:root {
  --ff: 'MesloLGS Nerd Font Mono';
  --radius: 6px;
  --primary-color: #2E3440; /* Dark Grayish Blue */
  --secondary-color: #D8DEE9; /* Light Grayish Blue */
  --tertiary-color: #81A1C1; /* Vibrant Blue */
  --link-color: #88C0D0; /* Soft Cyan */
  --tertiary-color-light: #A3BE8C; /* Pale Green */
  --secondary-color-dark: #4C566A; /* Deep Gray */
  --black: #2E3440;
  --code-bg: #3B4252; /* Dark Gray */
  --code-fg: #ECEFF4; /* Almost White */
  --code-scroll-thumb: #434C5E; /* Muted Gray */
  --scrollbar-track: #D8DEE9;
  --scrollbar-thumb: #4C566A;
}

.dark {
  --primary-color: #D8DEE9; /* Light Grayish Blue */
  --secondary-color: #2E3440; /* Dark Grayish Blue */
  --tertiary-color: #5E81AC; /* Muted Blue */
  --tertiary-color-light: #A3BE8C; /* Pale Green */
  --secondary-color-dark: #434C5E; /* Muted Gray */
  --scrollbar-track: #2E3440;
  --scrollbar-thumb: #434C5E;
}

@font-face {
  font-family: 'MesloLGS Nerd Font Mono';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/MesloLGSNerdFontMono-Bold.ttf') format('truetype');
}
